In [1]:
from data_admin import Database
Data_admin = Database()

In [2]:
import codecs
import jieba
import jieba.posseg as pseg
import datetime

def stop_key_num(text):
    # sentence_seged = jieba.cut(text)
    stopkey = [w.strip() for w in codecs.open('./stop_dic/stopwords.txt', 'r',encoding='utf-8').readlines()]
    seg_list = pseg.cut(text)  # 精确模式分词[默认模式]
    num = 0
    for word in seg_list:
        if word.word in stopkey:
            num = num + 1  # 分词追加到列表
    return num

In [3]:
sql_1 = 'select answer_text, first_post_time, question_time from zhihu_car_cleaned'
data_1 = Data_admin.database(sql_1)
import pandas as pd
data = pd.DataFrame(data_1)
data

,0,1,2
0,执行力，才是拉开人与人差距的关键\n人生一大悲剧，便是只懂得在心里谋局布阵生活中却瞻前顾后，...,2022-04-12 18:29:00,2015-08-03 18:57:38
1,先来看看问题的本质：想不到和自己朝夕相处一起逃课一起打游戏一起喝醉的同学，居然比自己发展的好...,2022-04-12 13:53:00,2015-08-03 18:57:38
2,本来差距就很大，只是学校生活就那么点事儿，不显而已。\n\n上学的时候，我们只能通过分数衡量...,2022-04-11 18:44:00,2015-08-03 18:57:38
3,产生现象的原因\n\n不少老师都说过同一句话，都是同一个教室同样的老师教出来的学生，差别怎么...,2022-04-11 18:16:00,2015-08-03 18:57:38
4,谢邀，这个问题的问法，让大家都觉得毕业好像才是起跑线，\n但事实是，学校毕业其实是某种意义上...,2022-04-11 12:37:00,2015-08-03 18:57:38
...,...,...,...
35301,说因为开便利店轻松才选择开便利店的人，基本可以不看好，你最好还是别做。便利店是表面看劳动强度...,2019-08-05 09:08:00,2014-07-04 10:38:37
35302,高锤子高，知乎这群卖发财经的真是要脸。\n租金，水电，人工，损耗，退货。这几座大山现在是越来...,2019-08-05 08:57:00,2014-07-04 10:38:37
35303,便利店就是个幸苦钱除非你开连锁店当资本家剥削店员，不然就是一最底层劳动人民的活。\n挣不挣钱...,2019-08-05 08:13:00,2014-07-04 10:38:37
35304,10％左右的利润空间，地理位置很重要奥。放弃20万的工作去干超市我是没见过了。,2019-08-05 07:58:00,2014-07-04 10:38:37
35305,北方省会2.5线城市，我们城市去年新出一个连锁便利店品牌是依托某星级酒店蛋糕坊的，除了常规的...,2019-08-05 07:48:00,2014-07-04 10:38:37

In [4]:
import re
new_data = []
for index in data.index:
    text = data.loc[index].values[0]
    length = len(text)
    para = len(re.findall('[\\n]',text))+1
    number = len(re.findall(r'[-+]?[0-9]*\.?[0-9]+',text))
    stop_key = stop_key_num(text)
    answer_time = data.loc[index].values[1]
    question_time = data.loc[index].values[2]
    response_time = (answer_time - question_time).days
    new_data.append([index+1,text,length,para,number,stop_key,response_time])

Building prefix dict from the default dictionary ...
Loading model from cache /var/folders/6d/2k7_g1z929x_ljmzs94gg_kw0000gn/T/jieba.cache
Loading model cost 0.475 seconds.
Prefix dict has been built successfully.

In [5]:
all = pd.DataFrame(new_data)
all.columns = ['id','text','length','para','number','stop_key','response_time']
all

,id,text,length,para,number,stop_key,response_time
0,1,执行力，才是拉开人与人差距的关键\n人生一大悲剧，便是只懂得在心里谋局布阵生活中却瞻前顾后，...,1268,56,3,424,2443
1,2,先来看看问题的本质：想不到和自己朝夕相处一起逃课一起打游戏一起喝醉的同学，居然比自己发展的好...,573,8,0,191,2443
2,3,本来差距就很大，只是学校生活就那么点事儿，不显而已。\n\n上学的时候，我们只能通过分数衡量...,2900,182,13,862,2442
3,4,产生现象的原因\n\n不少老师都说过同一句话，都是同一个教室同样的老师教出来的学生，差别怎么...,1446,49,0,494,2442
4,5,谢邀，这个问题的问法，让大家都觉得毕业好像才是起跑线，\n但事实是，学校毕业其实是某种意义上...,905,7,0,303,2442
...,...,...,...,...,...,...,...
35301,35302,说因为开便利店轻松才选择开便利店的人，基本可以不看好，你最好还是别做。便利店是表面看劳动强度...,185,2,1,60,1857
35302,35303,高锤子高，知乎这群卖发财经的真是要脸。\n租金，水电，人工，损耗，退货。这几座大山现在是越来...,75,3,0,19,1857
35303,35304,便利店就是个幸苦钱除非你开连锁店当资本家剥削店员，不然就是一最底层劳动人民的活。\n挣不挣钱...,423,4,2,117,1857
35304,35305,10％左右的利润空间，地理位置很重要奥。放弃20万的工作去干超市我是没见过了。,39,1,2,12,1857
35305,35306,北方省会2.5线城市，我们城市去年新出一个连锁便利店品牌是依托某星级酒店蛋糕坊的，除了常规的...,495,1,3,139,1857

In [6]:
import tqdm

my_data = all[['id','length','para','number','stop_key','response_time']]
# print(my_data,my_data.loc[1][1])

for index in tqdm.tqdm(my_data.index):
    sql_2 = "update zhihu_car_cleaned set text_length={} , para_num = {},  number_num = {}, stop_key_num = {}, response_time = {} where answer_id = {}".format(int(my_data.loc[index].values[1]), int(my_data.loc[index].values[2]), int(my_data.loc[index].values[3]), int(my_data.loc[index].values[4]), int(my_data.loc[index].values[5]),my_data.loc[index].values[0])
    Data_admin.database(sql_2)

100%|██████████| 35306/35306 [00:43<00:00, 811.21it/s]